<h1>Hello {{ user.username}}!</h1>
<p>Please find here with access information</p>
<ul>
    {% if app_route is defined %}
    <li><strong>Client APP:</strong> {{ app_route }}</li>
    {% endif %}
    <li><strong>Documentation:</strong> {{ url('nelmio_api_doc_index') }}</li>
	<li><strong>API Default:</strong> {{ url('default_get') }}</li>
	<li><strong>username:</strong> {{ user.username }}</li>
	<li><strong>password:</strong> {{ password }}</li>
</ul>

Thanks!